

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.label-dated,
.badge-dated {
  background-color: #7b8a8b;
  font-size: x-small;
  padding: 3px 5px;
}















